/* || Custom properties */

:root {
    --main-text-color: #E3E3E3;
    --highlight-color: #363636;
}


/* || General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
}

.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}


/* || Sidebar */

.sidebar {
    background-color: #282828;
    padding: 2rem 2rem 0;
}

.heading {
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.heading span {
    margin-bottom: 0.5rem;
}

.newProject {
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    background-color: transparent;
    font-size: inherit;
    color: var(--main-text-color);
}

.projectsEntry {
    padding: 0.5rem;
}

.newProject, .projectsEntry {
    border-radius: 5px;
}

.newProject:hover, .projectsEntry:hover {
    background-color: var(--highlight-color);
}


/* || Main */

main {
    background-color: #1F1F1F;
    justify-content: center;
}

.projectDisplay {
    width: 75%;
    padding: 2rem;
}

.projectTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.projectList {
    list-style-type: none;
}

.projectList>li {
    border-top: 1px solid #363636;
}

.projectTodo, .addTask {
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.projectTodo {
    justify-content: space-between;
}

.projectTodo>div {
    align-items: center;
}

.taskCheckbox {
    border: 1px solid #E3E3E3;
}

.taskCheckbox, .addTask button {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: transparent;
}

.addTask button { 
    line-height: 16px;
}

.addTask span {
    color: #808080;
}

.addTask:hover span, .addTask button {
    color: #DE4C4A;
}

.addTask:hover button {
    color:#E3E3E3;
    background-color: #DE4C4A;
}